extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    - 
      var hero__socials = [
        ['vk', 'https://vk.com/seitov_nurken'],
        ['github', 'https://github.com/seitov'],
        ['in', 'https://www.linkedin.com/in/seitov']
      ]

    .hero__links
      ul.hero__socials
        each item in hero__socials
          li.hero__socials-item
            a(href=`${item[1]}`).hero__socials-link
              +icon(item[0], 'socials__icon')  

    //- include ./common/humburger-btn.pug    

    .hero__title
      .section-title
        img(src="./assets/images/portfolio_header.svg", alt="").section-title__pic    
      .user.about__user
        .user__pic
          img(src="./assets/images/user.jpg", alt="User").user__pic-img
        .about__user-desc
          .user__description-name Нуркен Сеитов
          .user__description-info Личный сайт веб разрабочика

    a(href="#about").down-btn.hero__down-btns.scroll__btn
      img(src="./assets/images/arrow_down.svg", alt="btn")

    .hero__triangles
      .triangles
        .triangles__left 
          svg(viewBox="0 0 600 100" preserveAspectRatio="none").triangle 
            polygon(points="0 0, 0 100, 600 100" style="fill:#efeee9")

        .triangles__right 
          svg(viewBox="0 0 600 100" preserveAspectRatio="none").triangle 
            polygon(points="600 0, 600 100, 0 100" style="fill:#eeebdf")        

  section.about#about
    .about__left
      .about__wrap
        h1.about__title - Обо мне -  
        .about__title-pic
          img(src="./assets/images/about_header.svg", alt="").section-title__pic 
        .about__pic
          img(src="./assets/images/user.jpg", alt="user")
        .about__description
          h2.about__description-title - Кто я -
          .about__description-info  
            p Я веб разработчик из Костаная. Мне 24 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            br         
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


    .about__right
      .about__right-wrap
        .about__right-title
          p - Чем я могу быть -
          p вам полезен 
        .about__right-description.text-content
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку. 
        .about__right-content
          #skills-container         
          
  section.map
    .map__container#map-section
      .map__contacts
        h2.map__contacts-title - Контакты -
        - 
          var contacts = [
            ['skype', 'seitov999', 'skype:seitov999?call'],
            ['envelope', 'seitovnurken@gmail.com', 'mailto:seitovnurken@gmail.com?subject=связаться со мной'],
            ['phone', '+7 777 406 6696', 'tel:+77774066696'],
            ['map_marker', 'г. Костанай, ул. Тарана, д. 135', 'https://yandex.kz/maps/10295/kostanai/?ll=63.622780%2C53.221278&z=19&mode=whatshere&whatshere%5Bpoint%5D=63.621930%2C53.221196&whatshere%5Bzoom%5D=19']
          ]
        ul.contacts
          each item in contacts
            li.contacts__item
              a(href=`${item[2]}`).contacts__link
                +icon(item[0], 'contacts__icon')  
                .contacts__text #{item[1]}

  
            