extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='about.bundle.js')
  script(src='blog.bundle.js')

block content
  section.hero
    - 
      var hero__socials = [
        ['vk', 'https://vk.com/seitov_nurken'],
        ['github', 'https://github.com/seitov'],
        ['in', 'https://www.linkedin.com/in/seitov']
      ]

    .hero__links
      ul.hero__socials
        each item in hero__socials
          li.hero__socials-item
            a(href=`${item[1]}`).hero__socials-link
              +icon(item[0], 'socials__icon')  

    //- include ./common/humburger-btn.pug     

    .hero__title
      .section-title
        img(src="./assets/images/blog_header.svg", alt="Blog").section-title__pic.section-title__pic-blog    
      .user.about__user
        .user__pic
          img(src="./assets/images/user.jpg", alt="User").user__pic-img
        .about__user-desc
          .blog__hero-title - Блог -
          .user__description-info Статьи, которые я написал

    a(href="#").down-btn.hero__down-btns
      img(src="./assets/images/arrow_down.svg", alt="btn")

    .hero__triangles
      .triangles
        .triangles__left 
          svg(viewBox="0 0 600 100" preserveAspectRatio="none").triangle 
            polygon(points="0 0, 0 100, 600 100" style="fill:#fff")

        .triangles__right 
          svg(viewBox="0 0 600 100" preserveAspectRatio="none").triangle 
            polygon(points="600 0, 600 100, 0 100" style="fill:#fff")      
  section.blog
    .blog__container
      .blog__left
        nav.blog__nav
          - 
            var blog__list = [
              ['Самое важное в SASS', '#id', 'blog__link-active'],
              ['Приёмы в вёрстке, без которых не обходится ни один сайт', '#id', ''],
              ['Самый необходимый набор Gulp плагинов', '#id', ''],
              ['Почему я выбрал Jade', '#id', '']
            ]
          ul.blog__list
            each item in blog__list
              li.blog__item
                a(href=`${item[1]}` class=`${item[2]}`).blog__link  
                  .blog__anons #{item[0]}
        a(href="#").dropright__btn#dropright__btn  

      .blog__right
        .blog__content
          article.post
            h2.post__title Самое важное в SASS
            .post__date 22 ноября 2016
            .post__text
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .post__pic
                img(src="./assets/images/post-img.jpg", alt="Post img").post__img
          article.post
            h2.post__title Приёмы в вёрстке, без которых не обходится ни один сайт
            .post__date 13 ноября 2016
            .post__text
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              


