extends ../auth.layout.pug

block content
  .parallax
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-01.png", alt="Layer-01")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-02.png", alt="Layer-02")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-03.png", alt="Layer-03")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-04.png", alt="Layer-04")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-05.png", alt="Layer-05")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-06.png", alt="Layer-06")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-07.png", alt="Layer-07")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-08.png", alt="Layer-08")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-09.png", alt="Layer-09")
    .parallax__layer
      img.parallax__img(src="./assets/images/layer-10.png", alt="Layer-10")


  .welcome__wrap
    .log-in
      a(href="#").log-in__links#log-in__links
        .log-in__btn Авторизоваться

    .welcome__content-scene
      .welcome__content-wrap
        .welcome__content
          .welcome__content-container
            .user
              .user__pic
                img(src="./assets/images/user.jpg", alt="User").user__pic-img
              .user__description
                .user__description-name Нуркен Сеитов
                .user__description-info Личный сайт веб разрабочика

            .welcome__socials
              ul.socials 
                li.socials__element
                  a(href="https://vk.com/seitov_nurken").social__element-link
                    .vk-svg 
                li.socials__element
                  a(href="https://github.com/seitov").social__element-link
                    .gh-svg
                li.socials__element
                  a(href="https://www.linkedin.com/in/seitov").social__element-link
                    .in-svg          
                  
            .welcome__menu-wrap
              nav.welcome__menu
                ul.welcome__menu-list
                  li.welcome__menu-element.welcome__menu-element-works 
                    a.welcome__menu-link(href="./works.html") Мои работы 
                  li.welcome__menu-element.welcome__menu-element-about 
                    a.welcome__menu-link(href="./about.html") Обо мне
                  li.welcome__menu-element.welcome__menu-element-blog 
                    a.welcome__menu-link(href="./blog.html") Блог
                    
        .welcome__content.welcome__content-log-in
          form(action="post").log-in-form
            h2.log-in-form__title - Авторизуйтесь -
            .log-in-form__row
              .log-in-form__icon 
                span 
              input(type="text" placeholder="Логин" autocomplete="on").log-in-form__input
            .log-in-form__row
              .log-in-form__icon
                span 
              input(type="password" placeholder="Пароль" autocomplete="on").log-in-form__input
            .log-in-form__row.log-in-form__row-radio
              label(for="human").log-in-form__checkbox
                input(type="checkbox")#human.log-in-form__checkbox-input
                .log-in-form__checkbox-text
                  .log-in-form__checkbox-btn
                  span Я человек
                  
            .log-in-form__question Вы точно человек? 
            .log-in-form__row.log-in-form__row-radio
              label(for="Yes").log-in-form__radio
                input(type="radio" name="human" value="Да")#Yes.log-in-form__radio-input
                .log-in-form__radio-text
                  .log-in-form__radio-btn
                  span Да
              label(for="No").log-in-form__radio
                input(type="radio" name="human" value="Да")#No.log-in-form__radio-input
                .log-in-form__radio-text
                  .log-in-form__radio-btn
                  span Не уверен

            .log-in-form__btns                         
              a(href="./index.html").log-in-form__link 
                span На главную
              input(type="submit" value="Войти").form__btn


    .welcome__copyright 
      .welcome__copyright-name © Нуркен Сеитов |
      .welcome__copyright-text создано с любовью в LoftSchool | 2016 

                   