extends ../auth.layout.pug

block content
  .hello-world
    +icon('check', 'hello-world__block')
    .inlined-svg

  .welcome__wrap
    .log-in
      .log-in__links
        .log-in__btn Авторизоваться


    .welcome__content
      .user
        .user__pic
          img(src="", alt="").user__pic-img
        .user__description
          .user__name Владимир Астахов
          .user__info Личный сайт веб разрабочика
        .welcome__socials
          ul.socials 
            li.socials__element
              a(href="#").social__link 


    .welcome__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016 

                   