script(type="text/x-template")#slider
  .slider
    descriptions(
      :work="currentWork"
    )
    demonstrations(
      :work="currentWork"
    )
    btns(
      :works="works"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )

script(type="text/x-template")#slider-desc    
  .slider__desc-container
    .slider__desc
      .slider__desc-title
        h2.subtitle {{work.title}}
      .slider__desc-tech(:key="work.skills") {{work.skills}}  
      a(:href="work.link" target="_blank").slider__desc-link 
        +icon("link", "slider__desc-link-icon")
        span Посмотреть сайт

script(type="text/x-template")#slider-demo    
  .slider__demo
    img(:src="work.photo", alt="Image").slider__demo-pic

script(type="text/x-template")#slider-btns    
  .slider__btns
    .slider__btn(@click="slide('prev')")
      transition-group(name="slide-down" tag="div").slider__btn-img-container
        .slider__btn-img(:key="getReqImage('prev').photo")
          img(:src="getReqImage('prev').photo", alt="Down").slider__btn-pic  
    .slider__btn.slider__btn-next(@click="slide('next')")
      transition-group(name="slide-up" tag="div").slider__btn-img-container
        .slider__btn-img(:key="getReqImage('next').photo")
          img(:src="getReqImage('next').photo", alt="Down").slider__btn-pic  