.about {
  display: flex;
  flex-direction: row;
  @include tablets {
    flex-direction: column;
  }
  &__left,
  &__right {
    position: relative;
    width: 50%;
    @include tablets {
      width: 100%;
    }
  }
  &__left {
    background: #efeee9;
    display: flex;
    flex-direction: column;
  }
  &__right {
    background: #eeebdf;
  }
  &__wrap {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @include phones {
      padding: 50px 10px;
    }
  }
  &__pic {
    max-width: 400px;
    max-height: 400px;
  }
  &__triangle {
    top: -110px;
    position: absolute;
    width: 100%;
  }
  &__title {
    font-family: 'bernier';
    font-size: 63px;
    text-align: center;
    margin-bottom: 60px;
    z-index: 2;
  }
  &__title-pic {
    position: absolute;
    top: -20px;
  }
  &__description {
    &-title {
      text-align: center;
      font-family: 'bernier';
      font-size: 35px;
      margin: 35px 0;
    }
  }
}

.about__right-wrap {
  padding: 50px 40px;
  @include tablets {
    padding: 50px 155px;
  }
  @include phones {
    padding: 50px 10px;
  }
}

.about__right-title {
  font-family: 'bernier';
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.about__right-description {
  margin-bottom: 50px;
}

.about__right-content {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.skills-list {
  @include phones {
    padding: 0 50px;
  }
}

.skills-row {
  margin-bottom: 20px;
  display: block;
}

.skills-row__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  @include tablets {
   text-align: center;
  }
}

.skills-row__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.skills-row__item {
  margin: 0 20px 40px 20px;
  @include phones {
    margin: 0 17.5px 35px 17.5px;
  }
}

.skill {
  display: block;
  position: relative;
  height: 110px;
  width: 110px;
  margin: 0;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 15px;
}

.skill__circle_above {
  stroke: $green;
  stroke-dasharray: 251;
  stroke-dashoffset: 70;
}

.skill__title {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: $green;
  word-wrap: break-word;
}

.contacts__link {
  color: #455a64;
  display: flex;
  flex-direction: row;
}