.blog {
  min-height: 100vh;
  &__container {
    display: flex;
    flex-direction: row;
    padding: 60px 45px;
    position: relative;
  }
}

.blog__hero-title {
  font-family: 'bernier';
  font-size: 65px;
}

.section-title__pic-blog {
  width: 50%;
}