.blog {
  &__left {
    width: 20%;
  }
  &__right {
    width: 80%;
  }
  &__item {
    display: block;
    height: 40px;
    margin-bottom: 25px;
  }
  &__link {
    color: black;
    display: block;
    height: 100%;
    &-active {
      color: $green;
      font-weight: 700;
      border-right: 3px solid $green;
    }
  }
  &__anons {
    height: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
  }
}