.footer {
  background-color: rgba( 55, 62, 66, 0.85);
  height: 145px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  z-index: 100;
  color: #fff;
  &__row {
    border-bottom: 1px solid #ccc;
    height: 50%;
    display: flex;
    font-weight: 300;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    &:last-child {
      border: none;
    }
    &-separation {
      width: 50%;
    }
    &-copyright {
      text-align: end;
    }
  }
}
