.form {
  height: 435px;
  width: 380px;
  position: relative;
  overflow: hidden;
  &__blured {
    .form__bg {
      background-image: url('./assets/images/reviews-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px 10px 0 0;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    border-radius: 5px;
  }
  &__wrap {
    height: 88.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
  }
  &__title {
    font-family: 'bernier';
    font-size: 35px;
    margin: 20px 0;
  }
  &__row {
    margin-bottom: 20px;
    width: 100%;
  }
  &__input {
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    &:focus {
      border: 1px solid $green;
    }
  }
  &__textarea {
    padding: 10px 15px;
    width: 100%;
    resize: none;
    height: 140px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    &:focus {
      border: 1px solid $green;
    }
  }
  &__btn {
    position: relative;
    width: 50%;
    background: $green;
    border: none;
    color: #fff;
    padding: 15px 0;
    border-right: 1px solid #ccc;
    border-radius: 0 0 0 5px;
    cursor: pointer;
    outline: none;
    transition: .4s;
    &:last-child {
      border-right: 0;
      border-radius: 0 0 5px 0;
    }
    &:hover {
      background: #268c8b;
    }
  }
}