.map {
  // background: url('./assets/images/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  &__container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contacts {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background-color: rgba( 252, 252, 252, 0.85);
    height: 290px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-title {
      margin-bottom: 30px;
      font-family: 'bernier';
      font-size: 35px;
    }
  }
}

.contacts {
  display: block;
  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    fill: $green;
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
}