.vk-svg {
  background: svg-load('vk.svg', fill=$green) center center no-repeat;
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

.gh-svg {
  background: svg-load('github.svg', fill=$green) center center no-repeat;
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

.in-svg {
  background: svg-load('in.svg', fill=$green) center center no-repeat;
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

.test {
  background: $green;
}