.vk-svg {
  background: svg-load('vk.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  
  &:hover {
    background-image: svg-load('vk.svg', fill=#00bfa5);
  }
}

.gh-svg {
  background: svg-load('github.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  
  &:hover {
    background-image: svg-load('github.svg', fill=#00bfa5);
  }
}

.in-svg {
  background: svg-load('in.svg', fill=$green) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  
  &:hover {
    background-image: svg-load('in.svg', fill=#00bfa5);
  }
}

.test {
  background: $green;
}