.parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 109%;
    height: 100vh;
    transform: translateZ(0);
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(0);
  }
}