.partfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  @include tablets {
    flex-direction: column;
  }
  &__title {
    z-index: 10;
    width: 100%;
    background: #faf8f0;
    &-container {
      position: relative;
      height: 185px;
      @include tablets {
        height: 135px;
      }
    }
    &-text {
      text-align: center;
      font-family: 'bernier';
      font-size: 63px;
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translatey(-50%);
      @include phones {
        font-size: 50px;
      }
    }
    &-pic {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}