.preloader {
  display: flex;
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(32, 198, 175, 0.98);
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  &__done {
    opacity: 0;
    visibility: hidden;
  }
  &__wrap {
    position: relative;
  }
  &__figure {
    transform: rotate(-90deg);
  }
  span {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
}

.preloader__circle-big {
  stroke-dashoffset: 450;
  stroke-dasharray: 450;
  animation: 3s spin infinite linear;
  animation-delay: 2s;
}
.preloader__circle-mid {
  stroke-dashoffset: 350;
  stroke-dasharray: 350;
  animation: 4s spin infinite linear;
  animation-delay: 1s;
}
.preloader__circle-small {
  stroke-dashoffset: 251;
  stroke-dasharray: 251;
  animation: 6s spin infinite linear;
}

@keyframes spin {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 0;
  }
}