.welcome__wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.log-in {
  position: absolute;
  top: 25px;
  right: 100px;
  width: 180px;
  @include phones {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__btn {
    padding: 12px 26px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .4s;
    &:hover {
      background: #fff;
      color: $green;
    }
  }
}

.welcome__content {
  border-radius: 5px;
  background-color: rgba( 252, 252, 252, 0.85);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  &-scene {
    width: 380px;
    height: 395px;
    perspective: 600px;
  }
  &-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  &-wrap__is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  &-log-in {
    transform: rotateY(180deg);
  }
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    backface-visibility: hidden;
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  &__pic {
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
    &-img {
      border-radius: 50%;
    }
  }
  &__description {
    text-align: center;
    color: $grey;
    &-name {
      font-size: 28px;
      font-weight: 500;
    }
  }
}

.socials {
  display: inline-block;
  height: 30px;
  &__element {
    display: inline-block;
    height: 100%;
    margin-right: 25px;
    &:last-child {
      margin: 0;
    }
  }
}

.social__element-link {
  display: inline-block;
  height: 100%;
}

.welcome__menu-wrap {
  position: relative;
  height: 45px;
  width: 100%;
  bottom: 0;
}

.welcome__menu {
  width: 100%;
  height: 45px;
  background: $green;
  opacity: 0.85;
  position: relative;
  bottom: 0;
  border-radius: 0 0 5px 5px;
  backface-visibility: hidden;
  &-wrap {
    position: absolute;
    bottom: 0;
    backface-visibility: hidden;
  }
  &-list {
    height: 100%;
  }
  &-element {
    height: 100%;
    display: inline-block;
    border-right: 1px solid #fff;
    transition: .4s;
    &-works {
      width: 40%;
      &:hover {
        background: #0b8f87;
        border-radius: 0 0 0 5px;
      }
    }
    &-about {
      width: 34%;
      &:hover {
        background: #0b8f87;
      }
    }
    &-blog {
      width: 26%;
      &:hover {
        background: #0b8f87;
        border-radius: 0 0 5px 0;
      }
    }
    &:last-child {
      border: none;
    }
  }
  &-link {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: #fff;
  }
}

.welcome__copyright {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  font-weight: 300;
  display: flex;
  @include phones {
    margin-bottom: 10px;
    text-align: center;
    padding: 0 40px;
    flex-direction: column;
  }
  &-name {
    padding-right: 5px;
  }
}